/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* layout */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Microsoft JhengHei;
    font-weight: bold;
    line-height: 1.5;
}

.go-top {
    display: none;
    position: fixed;
    right: 3px;
    bottom: 3px;
    width: 52px;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

.hex_color {
    color: #00cc99;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
}

input,
textarea {
    border: none;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-wrap {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    background: url(../images/header_logo.png);
    width: 170px;
    height: 36px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.menu {
    display: flex;
}

.menu > li {
    margin: 0 10px;
}

.menu li a {
    display: block;
    color: #fff;
    padding: 10px;
}

.menu>li>a.active {
    color: #00cc99;
}

.menu li a:hover {
    color: #00cc99;
}

.dropdown {
    display: none;
    position: absolute;
    top: 74px;
}

.dropdown li a {
    background: #00cc99;
    border-bottom: 1px solid #000;
}

.dropdown li a:hover {
    color: #fff;
    background: rgb(58, 42, 129);
}

.banner {
    min-height: 560px;
    display: flex;
    align-items: center;
}

.footer {
    background: #323228;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.footer_logo span {
    color: #fff;
    float: right;
    margin-top: 5px;
}

.footer_logo a {
    background: url(../images/footer_logo.png);
    width: 170px;
    height: 36px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.social {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.social li {
    margin: 0 10px;
}

.social i {
    color: #fff;
}

.social i:hover {
    color: #00cc99;
    transition: 0.3s;
}

/* index.html */
.banner_index {
    background: url(../images/banner_photo.png);
    background-size: cover;
    background-position: center center;
}

.banner_class {
    background: url(../images/banner_photo_2.png);
    background-size: cover;
    background-position: center center;
    justify-content: space-between;
    background-color: #000;
}

.banner_faq {
    background: url(../images/banner_photo_3.png);
    background-size: cover;
    background-position: center center;
}

.slogan {
    margin-left: 5%;
}

.slogan h2 {
    line-height: 1.2;
}

.slogan h2 span {
    color: #fff;
}

.signup {
    display: block;
    padding: 10px;
    color: #fff;
    background: #00cc99;
    border-radius: 5px;
    width: 150px;
    margin-top: 20px;
    align-self: flex-end;
}

.signup:hover {
    background: rgb(58, 42, 129);
    transition: 0.3s;
}

.signup span {
    padding-left: 15px;
}

.content {
    margin-top: 20px;
    padding: 10px;
}

.tutorial {
    display: flex;
}

.tutorial li {
    margin: 0 10px;
    box-shadow: 2px 2px 5px#D0D0D0;
    padding: 10px;
}

.tutorial li img {
    display: block;
    margin: auto;
}

.tutorial li h3 {
    text-align: center;
    padding: 10px 0;
}

.class {
    margin: 30px 0;
}

.class h2 {
    text-align: center;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin: 0 auto;
}

tr {
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}

th {
    background: rgba(182, 174, 174, 0.534);
    text-align: left;
}

th,
td {
    padding: 10px;
}

.item:hover {
    background: goldenrod;
}

.data {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.info input {
    margin-bottom: 15px;
    font-size: 22px;
}

label {
    margin-bottom: 5px;
    color: #fff;
}

form {
    margin: 10px 0;
    padding: 50px 20px;
    background: #ebebeb;
}

textarea,
input {
    border-radius: 5px;
}

.send {
    width: 100px;
    align-self: flex-end;
    background: #00cc99;
    color: #fff;
    border: none;
    padding: 10px 0;
}

.send:hover {
    cursor: pointer;
    background: #ad5a5a;
    color: #fff;
    transition: 0.3s;
}

.content h2 {
    margin-right: 10px;
}

.classBtn {
    display: block;
    padding: 10px;
    color: #00cc99;
    border: 1px solid #00cc99;
    border-radius: 5px;
}

.classBtn:hover {
    background: rgb(58, 42, 129);
    color: #fff;
    transition: 0.3s;
    border: 1px solid transparent;
}

.classes {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.classes > div {
    display: flex;
    align-items: flex-end;
}

.classes > div > span {
    color: #8f8f8f;
}

/* course.html */
.slogan_class {
    margin-bottom: 5%;
}

.slogan_Img {
    margin-right: 5%;
    margin-bottom: 15%;
}

.slogan_Img img {
    margin: 0 10px;
}

.color_white {
    color: #fff;
}

.profile {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.profile h3 {
    line-height: 1.2;
    margin: 0 30px;
}

.experience {
    margin-left: 20px;
}

.experience li {
    list-style: disc;
    padding-left: 10px;
    color: darkgray;
}

.hex_class {
    margin: 20px 0;
    margin-left: 1.2em;
}

.hex_class li {
    list-style: decimal;
    padding-left: 10px;
}

.hex_classes {
    margin: 20px 0;
}

.hex_classes h2 {
    display: inline;
}

.hex_classes span {
    color: darkgray;
}

.class_content {
    margin: 10px auto;
    padding: 10px;
    width: 70%;
}

.list li {
    padding: 10px 20px;
    font-size: 18px;
}

.list li:nth-child(odd) {
    background: #ebebeb;
}

.list li:nth-child(even) {
    color: darkgray;
}

.course_form {
    display: flex;
    justify-content: center;
}

.course_form h2 {
    color: #000;
    margin-right: 15px;
}

/* FAQ.html */
.slogan_FAQ {
    text-align: center;
    margin: 0 auto;
}

.slogan_FAQ h3 {
    margin-top: 10px;
}

.searchBar {
    font-size: 25px;
    border: none;
    border-radius: 5px;
    min-width: 400px;
    padding: 5px;
}

.searchBar_container {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.search_icon {
    display: block;
    padding: 3px 6px;
    color: #000;
    transform: translateX(-44px);
    background: rgb(168, 37, 88);
}

.search_icon:hover {
    background: rgb(204, 116, 33);
}

.slogan_FAQ h3 {
    margin-bottom: 30px;
}

.listFAQ > li:nth-child(odd) {
    font-size: 20px;
}

.listFAQ > li:nth-child(even) {
    color: darkgray;
    margin-bottom: 20px;
}

.pay li {
    text-indent: 1em;
    margin-left: 3em;
    list-style: decimal;
}

.refund li {
    text-indent: 1em;
    margin-left: 3em;
    list-style: disc;
}

.refund p {
    color: #000;
    margin-top: 15px;
}

.faq_form {
    display: flex;
    justify-content: space-between;
}

.info textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 22px;
}